* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

body {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

header {
    position: absolute;
    margin: 1em;
    left: 0;
    right: 0;
}

.container {
    width: 95%;
    margin: 0 auto;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 1.5em;
}

.title span {
    font-weight: 300;
    display: block;
    font-size: 2.1rem;
}

@media (min-width: 60rem) {
    .title {
        font-size: 3.7rem;
    }
}

.button {
    display: inline-block;
    font-size: 1.15rem;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid;
    padding: .5em 1.5em;
}

.button-accent {
    color: #00ffc6;
    border-color: #00ffc6;
}

.button-accent:hover ,
.button-accent:focus {
    background: #00ffc6;
    color: #232323;
}

@media (min-width: 60rem) {
    .button {
        font-size: 1.5rem;
    }
}

nav ul{
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 1em;
}

nav a {
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8rem;
    padding: .5em;
    color: #fff;
}

nav a:hover,
nav a:focus {
    color: #ddd;
}

@media (min-width: 60rem) {
    .logo {
        float: left;
    }
    nav {
        float: right;
    }
}

.home-hero {
    background-image: url('/img/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    padding: 10em 0;
    color: #fff;
}

@media (min-width: 60rem) {
    .home-hero {
        height: 100vh;
        padding-top: 35vh;
    }
}